/IslandFurni-ejb/build/
/IslandFurni-ejb/dist/
/ManuFacPortal/nbproject/private/
/ManuFacPortal/build/
/GlobalPortal/nbproject/private/
/GlobalPortal/build/
/SupplierPortal/nbproject/private/
/GlobalPortal/dist/
/ManuFacPortal/dist/
/SupplierPortal/build/
/SupplierPortal/dist/